<audio src="images/canada.MP3" autoplay="autoplay" loop="true" hidden="true">
</audio>

	
<!-- === Arrows === -->

<!--
<div id="arrows">
	<div id="arrow-up" class="disabled"></div>
	<div id="arrow-down"></div>
	<div id="arrow-left" class="disabled visible-lg"></div>
	<div id="arrow-right" class="disabled visible-lg"></div>
</div><!-- /.arrows -->


<!-- === MAIN Background === -->
<div class="slide story" id="slide-1" data-slide="1">
	<div class="container">
		<div id="home-row-1" class="row clearfix">
			<div class="col-12">
				<h1 class="font-semibold">Election Sentiment <span class="font-thin">CANADA</span></h1>
				<h4 class="font-thin">Graphing the <span class="font-semibold">feels</span> of Politically-inclined Twittererers</h4>
				<br>
				<br>
			</div><!-- /col-12 -->
		</div><!-- /row -->
		<div id="home-row-2" class="row clearfix">
			<div class="col-12 col-sm-4"><div class="home-hover navigation-slide hvr-shrink" data-slide="5"><img src="images/tom.png"></div> </br> <span>New Democrats</span></div>
			<div class="col-12 col-sm-4"><div class="home-hover navigation-slide hvr-shrink" data-slide="3"><img src="images/stephen.png"></div> </br> <span>Conservatives</span></div>
			<div class="col-12 col-sm-4"><div class="home-hover navigation-slide hvr-shrink" data-slide="4"><img src="images/justin.png"></div> </br> <span>Liberals</span></div>
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /slide1 -->

<!-- === SLide 3 - Portfolio -->

<div class="slide story" id="slide-2" data-slide="2">
	<div class="container">
		<div class="row">

			<div class="row content-row">
				<div class="col-12 col-lg-12 col-sm-6">
					<h4 id="chartTitle">Sentiment score over time for tweets about the <span class="ndp">New Democratic</span>, <span class="cpc">Conservative</span>, and <span class="lpc">Liberal</span> parties of Canada and their respective leaders</h4>
				</div><!-- /col12 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide3 -->
	<div class="ct-chart"></div>
</div>

<!-- fancybox init -->
<script>
$(document).ready(function(e) {
	var lis = $('.nav > li');
	menu_focus( lis[0], 1 );
	
	$(".fancybox").fancybox({
		padding: 10,
		helpers: {
			overlay: {
				locked: false
			}
		}
	});

});
</script>